@media only screen and (min-width: 42em)
  /* Style adjustments for viewports that meet the condition
  .wrapper
    max-width: 1020px
    margin: 0 auto
    overflow: hidden

  h2
    font-size: 2.5em

  img
    max-width: 100%

  .no-mobile
    display: inherit

  .left
    width: 50%
    float: left

  .right
    width: 50%
    float: left

  header
    background: white
  
  #trigger
    display: none

  #intro
    background: url(../img/bg-intro-lg.jpg) center center no-repeat
    background-size: cover
    padding: 3em 

  #intro-screencaps
    background: url(../img/screencaps-intro.png) center center no-repeat
    background-size: contain
    min-height: 30em

  .trio
    width: 25%
    margin: 0 4.15%
    float: left
    h3
      font-size: 1.6em
      text-align: center
      text-transform: uppercase
    figure
      width: 80%
      margin: auto auto
      background-size: contain
      min-height: 12em

  #platforms
    background: url(../img/approach-1.jpg) center bottom no-repeat
  #ecosystems
    background: url(../img/approach-2.jpg) center bottom no-repeat
  #data
    background: url(../img/approach-3.jpg) center bottom no-repeat
